@font-face {
  font-family: illumination;
  src: url(fonts/Royal.ttf);
}

body {
  background-color: white;
}

hr {
  border-color: black;
}

.main {
  margin-left: 15%;
  margin-right: 15%;
  padding-bottom: 50px;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 50px;
  background-image: url(images/paper-background.jpg);
  background-repeat: repeat;
  /* background-color: rgb(255,215,0,0.22); */
  box-shadow: 0px 0px 15px 0 rgba(0,0,0,0.2);
}

.col-xs-12 {
  margin-right: 0;
  padding-right: 0;
  padding-left: 0px;
}

h1 {
  font-family: 'Tangerine', cursive;
  font-size: 68px;
  text-align: center;
  margin-top: 200px;
}

h2 {
  font-family: 'Tangerine', cursive;
  font-size: 68px;
  text-align: center;
  margin-bottom: 40px;
}

p {
  font-family: "Cormorant", serif;
  font-size: 24px;
  margin-top: 25px;
  line-height: 1.6;
  margin-right: 0;
  text-align: left;
}

.intro {
  font-size: 16px;
  margin-right: 0;
}

/* .narrative {
  text-indent: 50px;
} */

.image-caption {
  font-size: 20px;
  text-align: center;
}

.illumination::first-letter{
  font-family: 'illumination', cursive;
  font-size: 120px;
  line-height: 0.9;
  float: left;
  /* font-size: 5em; */
  margin: 0 10px 0 0;
}

/* .photo {
  box-shadow: 0px 2px 10px 0 rgba(0,0,0,0.2);
} */

ul {
  list-style: circle;
  margin-bottom: 0;
}

li {
  font-family: "Cormorant", serif;
  font-size: 24px;
  text-align: left;
  margin-top: 25px;
  /* margin-left: 7%; */
  list-style-image: url(images/pointer.png);
  padding-left: 20px;

}

.button-container {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

a {
  text-align: center;
}

a:hover {
  text-decoration: none;
  color: grey;
  box-shadow: 0px 3px 7px 0 rgba(0,30,0,0.2);
}

a:active {
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
}

.button {
  position: relative;
  display: inline-block;
  font-family: "Cormorant", serif;
  font-size: 24px;
  color: black;
  padding: 8px 40px;
  margin-left: auto;
  border-color: black;
  border: solid;
  border-width: 1px;
  cursor: pointer;
  text-align: center;
}



.tooltip {
    /* position: relative; */
    /* display: inline-block; */
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 25%;
    top: -5px;
    left: 105%;
    background-color: white;
    color: darkslategray;
    text-align: left;
    border-radius: 1px;
    padding: 5px 5px;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

/* #map {
        height: auto;
        width: 100%;

       } */

@media screen and (max-width: 885px) {
  html*, {
    margin: 0;
    padding: 0;
  }

  .main {
    padding-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    overflow: hidden;
  }

  h1 {
    text-align: center;
    margin-top: 15%;
  }

  h2 {
    text-align: center;
  }

  p {
    padding-left: 15%;
    padding-right: 15%;
    width: 100vw;
    margin-right: 0px;
  }

  .intro {
    margin-right: 0px;
  }

  .narrative {
    text-indent: 10vw;
  }

  .image-caption {
    padding: 0, 15%, 0, 15%;
    text-align: center;
  }

  .button-container {
    padding-left: 0;
  }

  ul {
    margin-left: 15%;
  }

  li {
    padding-right: 15%;
    margin-left: 0;
    padding-left: 10px;
  }
}

/* Center the loader */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 4px dotted black;
  border-radius: 50%;
  width: 112px;
  height: 112px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatefadein;
  -webkit-animation-duration: 1s;
  animation-name: animatefadein;
  animation-duration: 1s
}

@-webkit-keyframes animatefadein {
  from { opacity:0 }
  to { opacity:1 }
}

@keyframes animatefadein {
  from{ opacity:0 }
  to{ opacity:1 }
}

#main {
  display: none;
  text-align: center;
}
