body {
  background-color: white;
}

hr {
  border-color: black;
}

.main {
  margin-left: 15%;
  margin-right: 15%;
  padding-bottom: 50px;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 50px;
  background-image: url(images/paper-background.jpg);
  background-repeat: repeat;
  /* background-color: rgb(255,215,0,0.22); */
  box-shadow: 0px 0px 15px 0 rgba(0,0,0,0.2);
}

.col-xs-12 {
  margin-right: 0;
  padding-right: 0;
}

h1 {
  font-family: 'Tangerine', cursive;
  font-size: 48px;
  text-align: center;
  margin-top: 200px;
}

h2 {
  font-family: 'Tangerine', cursive;
  font-size: 48px;
  text-align: center;
  margin-bottom: 40px;
}

p {
  font-family: "Cormorant", serif;
  font-size: 24px;
  margin-top: 25px;
  line-height: 1.6;
  margin-right: 0;
}

.intro {
  font-size: 16px;
  margin-right: 0;
}

/* .narrative {
  text-indent: 50px;
} */

.image-caption {
  font-size: 20px;
  text-align: center;
}

.illumination {
  font-size: 100px;
  font-weight: bold;
  line-height: 0.8;
}

/* .photo {
  box-shadow: 0px 2px 10px 0 rgba(0,0,0,0.2);
} */

ul {
  list-style: circle;
  margin-bottom: 0;
}

li {
  font-family: "Cormorant", serif;
  font-size: 24px;
  margin-top: 25px;
  /* margin-left: 7%; */
  list-style-image: url(images/pointer.png);

}

.button-container {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

a:hover {
  text-decoration: none;
  color: grey;
  box-shadow: 0px 3px 7px 0 rgba(0,30,0,0.2);
}

a:active {
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
}

.button {
  position: relative;
  font-family: "Cormorant", serif;
  font-size: 24px;
  color: black;
  padding: 8px 40px;
  margin-left: auto;
  border-color: black;
  border: solid;
  border-width: 1px;
  cursor: pointer;
  text-align: center;
}



.tooltip {
    /* position: relative; */
    /* display: inline-block; */
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 25%;
    top: -5px;
    left: 105%;
    background-color: white;
    color: darkslategray;
    text-align: left;
    border-radius: 1px;
    padding: 5px 5px;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

/* #map {
        height: auto;
        width: 100%;

       } */

@media screen and (max-width: 885px) {
  html*, {
    margin: 0;
    padding: 0;
  }

  .main {
    padding-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    overflow: hidden;
  }

  h1 {
    text-align: center;
    margin-top: 15%;
  }

  h2 {
    text-align: center;
  }

  p {
    padding-left: 15%;
    padding-right: 15%;
    width: 100vw;
    margin-right: 0px;
  }

  .intro {
    margin-right: 0px;
  }

  .narrative {
    text-indent: 10vw;
  }

  .image-caption {
    padding: 0, 15%, 0, 15%;
    text-align: center;
  }

  .button-container {
    padding-left: 0;
  }

  ul {
    margin-left: 15%;
  }

  li {
    padding-right: 15%;
    margin-left: 0;
    padding-left: 10px;
  }
}
