
body {
  background-color: white;
  margin: 0px;
  padding: 0px;
}



h1 {
  font-family: "proxima-nova", "Cabin", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: lighter;
  font-size: 48px;
  color: darkslategray;
  background-image: url(images/background.gif);
  background-repeat: no-repeat;

  background-size: cover;
  border-style:none;
  padding: 150px 0px 40px 40px;
  margin: 0px;
}

.navbar-ul {
   background-color: #C8FBF1;
   padding: 10px 0px 10px 0px;
   margin: 0px 0px 0px 0px;

}

.navbar-li {
  list-style: none;
  margin: 0px;
  padding: 10px 20px 10px 20px;
  text-align: center;
  display: inline;

}

.container-fluid {
  margin: 0px;
  padding: 0px;
}

.main {
  margin-top: 250px;
  padding-top: 40px;
  padding-left: 20px;
  margin-bottom: 100px;
}

h2 {

  font-family: "proxima-nova", "Cabin", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: lighter;
  font-size: 28px;
  color: black;
  padding: 0px 0px 30px 0px;

}

h3 {
  font-family: "proxima-nova", "Cabin", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: lighter;
  font-size: 18px;
  color: black;
  padding: 0px 0px 0px 40px;
}

p {
  text-align: justify;

  font-family: "proxima-nova", "Cabin", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: lighter;
  font-size: 16px;
  color: black;
}

img {
    width: 100%;
}

li {
  font-family: "proxima-nova", verdana, sans-serif;
  font-style: normal;
  font-weight: lighter;
  font-size: 16px;
  color: black;
}

.centered {
  text-align: center;
}


a:link {
  font-family: "proxima-nova", verdana, sans-serif;
  font-style: normal;
  font-weight: lighter;
  font-size: 16px;
  color: dimgrey;
  text-decoration: none;
}

a:visited {
  font-family: "proxima-nova", verdana, sans-serif;
  font-style: normal;
  font-weight: lighter;
  font-size: 16px;
  color: dimgrey;
  text-decoration: none;
}

a:hover {
  font-family: "proxima-nova", verdana, sans-serif;
  font-style: normal;
  font-weight: lighter;
  font-size: 16px;
  color: darkgray;
  text-decoration: none;
}

a:active {
  font-family: "proxima-nova", verdana, sans-serif;
  font-style: normal;
  font-weight: lighter;
  font-size: 16px;
  color: darkgray;
  text-decoration: underline;
}

.top-container-fixed {
  position: fixed;
  top: 0px;
  width: 100%; //this needs to be amended; there is a small gap on the right end of the bar, between it and the edge of the window
  padding: 0px;
  margin: 0px;
}

.bottom-row-fixed {
  position: fixed;
  bottom: 0px;
  width: 100%; //this needs to be amended; there is a small gap on the right end of the bar, between it and the edge of the window
  padding: 0px;
  margin: 0px;
}
