

body {
  background-color: mintcream;
  margin: 0;
  padding: 0;
}

.container-fluid {
  margin: 0px;
  padding: 0px;
}

.navbar-li {
  list-style: none;
  margin: 0;
  padding: 10 20 10 20;
  text-align: center;
  display: inline;
  /* background-color: mediumturquoise; */
}

.navbar-ul {
   background-color: paleturquoise;
   padding: 10 0 10 0;
   margin: 0 0 0 0;
}

h1 {

  font-family: "proxima-nova", "Cabin", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: lighter;
  font-size: 48px;
  color: darkslategray;
  background-image: url(images/background.gif);
  background-repeat: no-repeat;
  background-size: auto;
  background-size: cover;
  border-style:none;
  padding: 150 40 40 40;
  margin: 0;

}

h2 {

  font-family: "proxima-nova", "Cabin", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: lighter;
  font-size: 28px;
  color: black;
    padding: 0 0 30 24;

}

h3 {
  font-family: "proxima-nova", "Cabin", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: lighter;
  font-size: 18px;
  color: black;
  padding: 0 0 0 24px;
}

p {

  text-align: justify;
  padding: 0 0 0 24px;
  font-family: "proxima-nova", "Cabin", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: lighter;
  font-size: 16px;
  color: black;
}

li {
  font-family: "proxima-nova", verdana, sans-serif;
  font-style: normal;
  font-weight: lighter;
  font-size: 16px;
  color: black;
}

.centered {
  text-align: center;
}


a:link {
  font-family: "proxima-nova", verdana, sans-serif;
  font-style: normal;
  font-weight: lighter;
  font-size: 16px;
  color: dimgrey;
  text-decoration: none;
}

a:visited {
  font-family: "proxima-nova", verdana, sans-serif;
  font-style: normal;
  font-weight: lighter;
  font-size: 16px;
  color: dimgrey;
  text-decoration: none;
}

a:hover {
  font-family: "proxima-nova", verdana, sans-serif;
  font-style: normal;
  font-weight: lighter;
  font-size: 16px;
  color: darkgray;
  text-decoration: none;
}

a:active {
  font-family: "proxima-nova", verdana, sans-serif;
  font-style: normal;
  font-weight: lighter;
  font-size: 16px;
  color: darkgray;
  text-decoration: underline;
}
