

body {
  background-color: white;
  margin: 0;
  padding: 0;
}

.col-xs-12 {
  padding: 0;
}

.container-fluid {
  margin: 0;
  padding: 0;
}

.navbar-li {
  list-style: none;
  margin: 0;
  padding: 10px 20px 10px 20px;
  text-align: center;
  display: inline;
}

.navbar-ul {
   background-color: #C8FBF1;
   padding: 10px 0 10px 0;
   margin: 0 0 0 0;
}

.bottom-row-fixed {
  position: fixed;
  bottom: 0px;
  width: 100%; //this needs to be amended; there is a small gap on the right end of the bar, between it and the edge of the window
}

.navbar-fixed.top {
  position: fixed;
  top: 150px;
}


h1 {

  font-family: "proxima-nova", "Cabin", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: lighter;
  font-size: 48px;
  color: darkslategray;
  background-image: url(images/background.gif);
  background-repeat: no-repeat;

  background-size: cover;
  border-style:none;
  padding: 150px 0px 40px 40px;
  margin: 0;



}

h2 {

  font-family: "proxima-nova", "Cabin", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: lighter;
  font-size: 28px;
  color: black;
  padding: 40px 0 30px 40px;

}

h3 {
  font-family: "proxima-nova", "Cabin", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: lighter;
  font-size: 18px;
  color: black;
  padding: 0 0 0 40px;
}

p {

  text-align: justify;
  padding: 0 40px 0 40px;
  font-family: "proxima-nova", "Cabin", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: lighter;
  font-size: 16px;
  color: black;
  margin: 0 0 100px 0;

}

li {
  font-family: "proxima-nova", verdana, sans-serif;
  font-style: normal;
  font-weight: lighter;
  font-size: 16px;
  color: black;
}

.centered {
  text-align: center;
}


a:link {
  font-family: "proxima-nova", verdana, sans-serif;
  font-style: normal;
  font-weight: lighter;
  font-size: 16px;
  color: dimgrey;
  text-decoration: none;
}

a:visited {
  font-family: "proxima-nova", verdana, sans-serif;
  font-style: normal;
  font-weight: lighter;
  font-size: 16px;
  color: dimgrey;
  text-decoration: none;
}

a:hover {
  font-family: "proxima-nova", verdana, sans-serif;
  font-style: normal;
  font-weight: lighter;
  font-size: 16px;
  color: darkgray;
  text-decoration: none;
}

a:active {
  font-family: "proxima-nova", verdana, sans-serif;
  font-style: normal;
  font-weight: lighter;
  font-size: 16px;
  color: darkgray;
  text-decoration: underline;
}
